.publish-wrap ul{
    width: 100%;
}
.list-wrap{
    overflow: hidden;
    padding-top: 1.6rem;
    padding-bottom: 0.4rem;
    width: 50%;
    float: left;
    border-bottom: 0.1rem solid #e2e2e2;
    border-right: 0.1rem solid #e2e2e2;
    margin-right: -0.1rem;
    min-height: 10rem;
}
.publish-person{
    margin-left: 13%;
}
.publish-wrap a img{
    display: block;
    margin: 0 auto;
    max-width: 5rem;
    max-height: 4rem;
    border-radius: 16%;
}
.list-title{
    color: #000000;
    font-size: 0.8rem;
    height: 2rem;
}
.list-issue {
    font-size: 0.65rem;
    color: #999;
    height: 1.8rem;
    line-height: 1.8rem;
}
.list-issue em{
    color: #ff0000;
}
.list-progress{
    width: 4rem;
    height: 0.1rem;
    background-color: #999;
}
.publish-person span{
    font-size: 0.1rem;
    float: right;
    line-height: 1rem;
    text-align: center;
    color: #ff0000;
    border: 0.08rem solid #ff0000;
    border-radius: 12%;
    margin-right: 0.2rem;
    margin-top: -1rem;
}